{% load static %}

<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.min.js"%}"></script>
<!-- Bootstrap -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js"%}"></script>
<!-- FastClick -->
<script src="{% static "fastclick/lib/fastclick.js"%}"></script>
<!-- NProgress -->
<script src="{% static "nprogress/nprogress.js"%}"></script>
<!-- Chart.js -->
<script src="{% static "Chart.js/dist/Chart.min.js"%}"></script>
<!-- gauge.js -->
<script src="{% static "gauge.js/dist/gauge.min.js"%}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static "bootstrap-progressbar/bootstrap-progressbar.min.js"%}"></script>
<!-- iCheck -->
<script src="{% static "iCheck/icheck.min.js"%}"></script>
<!-- Skycons -->
<script src="{% static "skycons/skycons.js"%}"></script>
<!-- Flot -->
<script src="{% static "Flot/jquery.flot.js"%}"></script>
<script src="{% static "Flot/jquery.flot.pie.js"%}"></script>
<script src="{% static "Flot/jquery.flot.time.js"%}"></script>
<script src="{% static "Flot/jquery.flot.stack.js"%}"></script>
<script src="{% static "Flot/jquery.flot.resize.js"%}"></script>
<!-- Flot plugins -->
<script src="{% static "flot.orderbars/js/jquery.flot.orderBars.js"%}"></script>
<script src="{% static "flot-spline/js/jquery.flot.spline.min.js"%}"></script>
<script src="{% static "flot.curvedlines/curvedLines.js"%}"></script>
<!-- DateJS -->
<script src="{% static "DateJS/build/date.js"%}"></script>
<!-- JQVMap -->
<script src="{% static "jqvmap/dist/jquery.vmap.js"%}"></script>
<script src="{% static "jqvmap/dist/maps/jquery.vmap.world.js"%}"></script>
<script src="{% static "jqvmap/examples/js/jquery.vmap.sampledata.js"%}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static "moment/min/moment.min.js"%}"></script>
<script src="{% static "bootstrap-daterangepicker/daterangepicker.js"%}"></script>
<!-- Datatables -->
<script src="{% static "datatables.net/js/jquery.dataTables.min.js"%}"></script>
<!-- vue -->
<script src="https://unpkg.com/vue@2.2.1"></script>
<!-- Custom Theme Scripts -->
<script src="{% static "portal.js"%}"></script>
<script src="{% static "portalLink.js"%}"></script>
<script src="{% static "portalNews.js"%}"></script>
<script src="{% static "page.js"%}"></script>
<script src="{% static "pageNews.js"%}"></script>
<script src="{% static "pageList.js"%}"></script>
<script src="{% static "getData.js"%}"></script>
<script src="{% static "app.js"%}"></script>
<script src="{% static "barchart.js"%}"></script>

<script src="{% static "custom.js"%}"></script>
